[project]
	description = Storage Performance Development Kit - http://spdk.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nixun
[access "refs/for/refs/*"]
	read = group user/nixun
	push = group user/nixun
	label-Code-Review = -2..+2 group user/nixun
	label-Verified = -1..+1 group user/nixun
	rebase = group user/nixun
	removeReviewer = group user/nixun
	submit = group user/nixun
[access "refs/heads/*"]
	read = group user/nixun
	create = group user/nixun
	push = +force group user/nixun
	pushMerge = group user/nixun
[access "refs/tags/*"]
	push = group user/nixun
	push = +force group user/nixun
